/* CSE 190 M, Spring 2008, Lab 2, Journal
   Solution file for journal CSS effects, exercise 3
*/

body {
	background-image: url("background.gif");
	margin-left: 10%;
	margin-right: 10%;
}

#container {
	background-color: white;
	border: 5px green solid;
}

.date {
	border: 5px purple solid;
}

.entry {
	border: 5px blue solid;
	padding: 5px;
	background-color: #E8FBFB;
	margin-top: 10px;
}

/* added this exercise */
.entry img {
	float: right;
}

#header {
	/* added this exercise */
	text-align: right;
	border: 5px red solid;
}

#header h2 {
	border: 5px orange solid;
}

/* added this exercise */
.spacer {
	clear: right;
}