/* CSE 190 M, Spring 2008, Lab 2, Journal
   Solution file for journal CSS effects, exercise 5
*/

body {
	background-image: url("background.gif");
	margin-left: 10%;
	margin-right: 10%;
}

#container {
	background-color: white;
	border: 10px white solid;
}

.date {
	border-bottom-style: dashed;
	border-bottom-width: 2px;
}

.entry {
	border: 4px #C2E9E9 solid;
	padding: 5px;
	background-color: #E8FBFB;
	margin-top: 10px;
}

.entry img {
	float: right;
}

#header {
	background-color: #A8F0F0;
	text-align: right;
}

#header h2 {
	font-size: 14pt;
}

/* added this exercise */
#navigation {
	background-color: #99E0E0;
	float: left;
	margin-top: 10px;
	width: 150px;
	padding: 5px;
	border: 5px #009097 solid;
}

#allentries {
	margin-left: 180px;
}

.spacer {
	clear: both;
}